# .NET Core
**/bin/
**/obj/
**/appsettings.Development.json
.vs/
**/.vs/

# Angular / Node
ai-meal-planner/node_modules/
ai-meal-planner/dist/
ai-meal-planner/.angular/

# General OS files
.DS_Store
Thumbs.db